.BODY_cover {
    background-size: cover;
    vertical-align: middle;
    margin:0px;
}
@font-face {
    /* font-family: 'Mapo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); */
    /* font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff'); */
    /* font-family: 'NEXON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); */
    /* font-family: 'Neo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); */
    font-family: 'Cafe';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
  font-family: 'Roboto', sans-serif;
} */

.START_head {
    font-size: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 250px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: 'Cafe';
}

.START_text {
    font-size: 20px;
    text-align: center;
    color:#FFFFFF;
    font-weight: normal;
    font-family: 'Cafe';
}

.START_inputbox {
    text-align: center;
}
.START_input {
    height:30px;
    width:400px
}

.CRAWL_head {
  font-size: 60px;
  text-align: center;
  color: rgb(255,255,255);
  margin-top: 200px;
  margin-bottom: 60px;
  font-weight: lighter;
  font-family: 'Cafe';
}

.CRAWL_result {
  font-size: 30px;
  background-color:rgba(123, 158, 255, 0.4);
  color: white;
 
  border-radius: 10px;
  text-align: center;
}

/*버튼*/

.container {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background:rgba(255, 255, 255, 0.4);;
  border: 2px solid #ffffff00;
  color:#000000;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;

  cursor: pointer;
  transition: all 0.25s ease;
  
}
button:hover {
    color:white;
    background:#14195e;
  }
button:active {
    letter-spacing: 2px ;
  }
button:after {
    content:"SUBMIT";
  }

.onclic {
  width: 40px;
  border-color:#bbbbbb;
  border-width:3px;
  font-size:0;
  border-left-color:#1ECD97;
  animation: rotating 2s 0.25s linear infinite;
}
  .onclic:after {
    content:"";
  }
  .onclic:hover {
    color:#1ECD97;
    background: white;
  }

.validate {
  font-size:13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*배경 어둡게*/
.bg{
    background-color:rgba(0, 0, 0, 0.6); /*살짝 투명한 검정으로 배경색*/
    width:100%;
    height:100%;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
   
}
.bg_dark{
  background-color:rgba(0, 0, 0, 0.8); /*살짝 투명한 검정으로 배경색*/
  width:100%;
  height:100%;
  position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
 
} 
section{
    background-size:cover;
    display:block;
    width:100%;
    height:100%;
    color:#ffffff;
    text-align: center;
    
}
section h1{ font-size: 2.5em;}
section p{ margin-bottom: 30px; }
section h1,p,a{ position: relative;
z-index:1000; /*맨 앞으로 나오도록 함*/ }
